PocketQueue/DatabasePocketQueue/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PocketQueue/PocketQueue/bin/*
PocketQueue/PocketQueue/obj/*
PocketQueue/*.suo
PocketQueue/*.sln
PocketQueue/*.vcsproj
